<%= content_tag :div, class: "temp_information", data: {temp: @req, page: @page} do %>
<% end %>
<div class='temp_information'></div>
<h1>Blockbusters</h1>
<table id= 'mainTable'>
	<thead>
<!-- 		<tr>
			<th>Title</th>
			<th>Year</th>
			<th>Score</th>
			<th>Rating</th>
		</tr> -->
	</thead>
	<tbody id = 'blockbusters'>
	</tbody>
</table>