<%= content_tag :div, class: "pageInfo infoContainer", data: {temp: @page} do end %>
<div id="ajaxContent">
	<div id="mainContent">
		<div id="col1">
			<h1>Blockbusters</h1>
			<table id= 'blockbusterTable'>
				<thead></thead>
				<tbody id = 'blockbusters'>
					<% @moviesJSON = @blockJSON %>
					<%= render 'shared/movieTable' %>
				</tbody>
			</table>
		</div>
		<div id="col2">
			<h1>In Theatres</h1>
			<table id= 'inTheatresTable'>
				<thead></thead>
				<tbody id = 'inTheatres'>
					<% @moviesJSON = @theatreJSON %>
					<%= render 'shared/movieTable' %>
				</tbody>
			</table>
		</div>
		<div id="col3">
			<h1>Opening</h1>
			<table id= 'openingTable'>
				<thead></thead>
				<tbody id = 'opening'>
					<% @moviesJSON = @openingJSON %>
					<%= render 'shared/movieTable' %>
				</tbody>
			</table>
		</div>
		<div class="clearFloats"></div>
		<div id="search-logo-wrapper">
			<div id="logo"></div>
			<form class="form-wrapper cf" id="searchForm">
		        <input type="text" placeholder="Search here..." required>
		        <button type="submit">Search</button>
		    </form> 
	    </div>
	</div>
</div>