<%= content_tag :div, class: "pageInfo infoContainer", data: {temp: @page} do end %>
<%= content_tag :div, class: "searchInfo infoContainer", data: {searchString: @searchString, pageNumber: @pageNumber} do end %>

<div id="ajaxContent">
	<div id="search-logo-wrapper">
		<div id="logo"></div>
		<form class="form-wrapper cf" id="searchForm">
	        <input type="text" placeholder="Search here..." value="<%= @searchString%>" required>
	        <button type="submit">Search</button>
	    </form>
	</div>

	<div id='ajaxContent_2'>
		<%= render "shared/searchTable" %>
	</div>
</div>