<ul id="paging">
	<% for i in @startingPageToDisplaySearchPageLinks..(@startingPageToDisplaySearchPageLinks + @NUMBER_OF_PAGE_BUTTONS - 1) %>
		<li 
			<% if (i.to_s).eql? @pageNumber %>
				<%= "id = selectedPage" %>
			<% elsif i <= @totalPages %>
				<%= "class = selectablePage" %>
			<% end %>
		>
			<% if i <= @totalPages %> 
				<%= i %> 
			<% end %> 
		</li>
	<% end %>
</ul>

<table id= 'searchTable'>
	<thead>
	</thead>
	<tbody id = 'search'>
		<% @moviesJSON = @searchJSON %>
		<%= render 'shared/movieTable' %>
	</tbody>
</table>