// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html * {
	font-family: 'Noto Sans', Helvetica, sans-serif !important;
}

h1 {
	text-align: center;
}

#mainTable {
	margin-left: auto;
	margin-right: auto;
	border-spacing: 0px;
}

#mainTable {
	thead th {
		text-align: left;
	}
	tbody tr > div{
		background-color: #E0E0E0;
		margin-bottom: 16px;
		padding: 10px;
		cursor: pointer;
		border-radius: 5px;
	}
	tbody tr > div:hover{
		background-color: white;
	}
	tbody tr > div > div {
		display: inline-block;
		vertical-align: middle;
	}
}

#thumbnail { width: 70px; }
#title { 
	width: 300px; 
	font-weight: bold;
	padding-right: 10px;
}
#year { width: 60px; }
#score { 
	text-align:center;
	width: 40px;
	height: 40px;
	background-color: white;
	line-height: 40px;
	border-radius: 20px;
}
#rating { 
	text-align:center;
	width: 80px;
	font-weight: bold;
}

#summary {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#summary_colone {
	width: 150px;
	height: 200px;
	float: left;
}

#summary_coltwo {
	width: 750px;
	float: right;
}

#summary_coltwo > div {
	margin-bottom: 15px;
}

.header {
	color: #CF4400;
	font-weight: bold;
}

#backButton {
	width: 48px;
	height: 48px;
	position: fixed;
	top: 10px;
	left: 10px;
	cursor: pointer;
	background-image:url('/assets/back_button.png');
	background-repeat:no-repeat;
	background-size: 48px 48px;
}